.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
*.ipr
*.iws
.idea/
android/local.properties
android/key.properties
android/app/*.jks
ios/Flutter/flutter_export_environment.sh
.DS_Store
